<h1><%= @category.name %></h1>

<% @category.products.each do |product| %>
  商品名：<%= product.name %>
  <br>
  金額：<%= product.price %>
  <br>
  <%= link_to "詳細","products/#{product.id}/show" %>
  <hr>
<% end %>